@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

body{
background-image: url('https://wallpaperplay.com/walls/full/8/0/4/131018.jpg');
background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
font-family: 'Indie Flower', cursive;
font-size: 24px;
color: white;;
margin: 0;
}
ul,li {
  list-style: none;
}
footer{
  font-size: .8em;
  text-align: center;
position: fixed;
bottom: 0;
width: 100%;
padding-top:10px;
padding-bottom:10px;
color: black;
background-image: url('https://img.freepik.com/free-photo/design-space-paper-textured-background_53876-42312.jpg?size=626&ext=jpg');
}


.bg-dark{
background-image: url('https://img.freepik.com/free-photo/design-space-paper-textured-background_53876-42312.jpg?size=626&ext=jpg');
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.header{
  text-align: center;
  font-size: 60px;
}

.navbar-dark .navbar-nav .nav-link {
  color: black!important;
  margin: 20px;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: black!important;
  margin: 20px;
  text-decoration: line-through;
}
.navbar{
  display: flex;
  justify-content: center;

}
.hometext{
margin: auto;
text-align: center;
color: black;
max-width: 50%;
height: 300px;
padding: 30px;
background-image: url('https://img.freepik.com/free-photo/design-space-paper-textured-background_53876-42312.jpg?size=626&ext=jpg');
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.createhaiku{
margin: auto;
display: flex;
flex-direction: column;
align-items: center;
color: black;
max-width: 80%;
height: auto;
padding: 30px;
background-image: url('https://img.freepik.com/free-photo/design-space-paper-textured-background_53876-42312.jpg?size=626&ext=jpg');
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.form-group{
  width: 500px;
  text-align: center;
}
.poems {
  text-align: center;
  margin: auto;
  margin-bottom: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
max-width: 80%;
  height: auto;
  padding: 30px;
  background-image: url('https://img.freepik.com/free-photo/design-space-paper-textured-background_53876-42312.jpg?size=626&ext=jpg');
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);

}

.inspiration{
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
max-width: 80%;
  height: auto;
  margin-bottom: 75px;
  padding: 30px;
  background-image: url('https://img.freepik.com/free-photo/design-space-paper-textured-background_53876-42312.jpg?size=626&ext=jpg');
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);

}

.btn-primary {
  color: #fff;
    background-color: #CC5500;
    border-color: #CC5500;
    width: 150px;
    margin: 20px;
}
.btn-primary:hover {
  color: black;
    background-color: white;
    border-color: black;
    width: 150px;
    margin: 20px;
}
.btn-danger{
  color: #fff;
    background-color: Black;
    border-color: black;
    width: 150px;
    margin: 20px;
}
.btn-danger:hover{
  color: black;
    background-color: white;
    border-color: black;
    width: 150px;
    margin: 20px;
}

button{
  color: #fff;
    background-color: #CC5500;
    border-color: #CC5500;
    width: 150px;
    margin: 20px;
    border-radius: 5px
}

button:hover{
  color: black;
    background-color: white;
    border-color: 1px solid black;
    width: 150px;
    margin: 20px;
    border-radius: 5px;
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@media (min-width: 1200px){
.container {
    max-width: 100%;
    margin: 0;
    padding: 0;
}
}

/* ----------------------------------------------
 * Generated by Animista on 2019-9-12 16:56:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
